.navbar-brand img {
    max-width: 5em;
    height: auto;
}

.tarjeta-contenido p, .tarjeta-contenido h3, h1 {
    margin:0;
    max-width: 100%;
}
.tarjeta img {
    width: 177.75px;
    height: 250px;
}

@media (min-width: 768px) {
    .tarjeta {
        width: 15em;
    }
}
ul {
    list-style: none;
    margin: 0 !important;
}
a {
    
    text-decoration: none !important;
}


@media (max-width: 925px) {
    .sesiones > button, .sesiones > a {
        display: block;
        width: 100%;
    }
     
    
}