.navbar-brand img {
    max-width: 3em;
    height: auto;
}
.tarjeta {
    width: 20em;
}
.tarjeta-contenido p, .tarjeta-contenido h3 {
    margin:0;
}
.tarjeta img {
    max-width: 100%;
    height: 250px;
}

@media (min-width: 768px) {
    .tarjeta {
        width: 15em;
    }
}