<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menù Lateral con Css</title>
	<link rel="stylesheet" href="../CSS/trabajos/adminitrador.css">
	<link rel="stylesheet" href="../CSS/bootstrap.min.css"
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>GRAVITY_GAMES</h1>
			</div>
			<nav class="menu">
				<a href="#">Inicio</a>
				<a href="#">Nosotros</a>
				<a href="#">Blog</a>
				<a href="#">Contacto</a>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<center><img src="../HTML/icone-utilisateur-gris.png" width="70"></center>
			<a href="../HTML/portafolio.html">Perfil</a>
			<hr>
			<a href="../HTML/ventas.html">Ventas</a>
			<hr>
			<a href="#">Comentraios</a>
			<hr>
			<a href="#">Ajustes</a>
			<hr>
		</nav>
		<label for="btn-menu">✖️</label>
		
	</div>
</div>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
