<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
    <script src="paginaprincipal.js"></script>

    <title>Ventas</title>
</head>
<body class="bg-warning">
   <h1>Ventas</h1>
     <div class="container">
      <table border="1" class="table table-hover table-bordered table-sm table-dark">
        <h5>Juegos Vendidos</h5>  
        <thead class="table-dark">
           <tr>
            <th>Nombre</th>
            <th>Clave</th> 
            <th>Subtotal</th> 
            <th>Iva</th>
            <th>Total</th> 
            <th>Fecha</th>
            <th>Hora</th> 
            <th>Cliente</th> 
            <th>Plataforma</th>
            <th>Genero</th>
         </tr>  
        </thead>
        <tbody>
         <tr>
          <td>Outlast</td>
          <td>1</td>
          <td>345.2</td>
          <td>55.232</td>
          <td>400.432</td>
          <td>2001-08-22</td>
          <td>13:09:22</td>
          <td>Eduardo Cortinas Jara</td>
          <td>playstation 4</td>
          <td>Terror</td>
         </tr> 
         <td>Minecraft</td>
          <td>7</td>
          <td>850.45</td>
          <td>136.072</td>
          <td>986.522</td>
          <td>2015-07-22</td>
          <td>16:20:01</td>
          <td>Lalisa Maria Perez Hernandez</td>
          <td>playstation 5</td>
          <td>Aventura</td>
         <tr>
          <td>Silent Hill</td>
          <td>2</td>
          <td>499.99</td>
          <td>79.9984</td>
          <td>579.9884</td>
          <td>2006-07-22</td>
          <td>14:23:09</td>
          <td>Emma Abigail Perales Arguelles</td>
          <td>Xbox One</td>
          <td>Terror</td>
         </tr> 
         <tr>
          <td>Grand Theft Auto V</td>
          <td>8</td>
          <td>899.99</td>
          <td>143.9984</td>
          <td>1045.987</td>
          <td>2022-04-10</td>
          <td>21:09:30</td>
          <td>Ruben Eliseo</td>
          <td>playstation 4 </td>
          <td>RPG</td>
         </tr> 
          <tr>
            <td>Elden Ring</td>
            <td>4</td>
            <td>250</td>
            <td>40</td>
            <td>290</td>
            <td>2018-10-30</td>
            <td>22:40:14</td>
            <td>Sra.Gabriela Pabòn</td>
            <td>Xbox One</td>
            <td>RPG</td>
         </tr> 
         <tr>
          <td>Granny</td>
          <td>3</td>
          <td>50</td>
          <td>8</td>
          <td>58</td>
          <td>2022-06-15</td>
          <td>17:23:21</td>
          <td>Ricardo Alberto Lozano</td>
          <td>playstation 4</td>
          <td>Terror</td>
         </tr> 
         <tr>
          <td>Devour</td>
          <td>6</td>
          <td>900.09</td>
          <td>124.78</td>
          <td>123.09</td>
          <td>2022-04-23</td>
          <td>13:30:12</td>
          <td>Angel David Sanchez Sanchez</td>
          <td>playstation 4</td>
          <td>Terror</td>
         </tr> 
         <tr>
          <td>Pac_Man</td>
          <td>5</td>
          <td>1034.00</td>
          <td>900.00</td>
          <td>2789.00</td>
          <td>2019-08-20</td>
          <td>18:30:23</td>
          <td>Oswaldo Ramirez</td>
          <td>Xbox One</td>
          <td>Estrategia</td>
         <tr>
          <td>Block Puzzle</td>
          <td>9</td>
          <td>850.45</td>
          <td>136.072</td>
          <td>986.522</td>
          <td>2015-07-22</td>
          <td>16:20:01</td>
          <td>Oscar Soto</td>
          <td>playstation 4</td>
          <td>Puzzle</td>
         </tr> 
         <tr>
          <td>PlayerUnknowns B.</td>
          <td>10</td>
          <td>700.87</td>
          <td>100.879</td>
          <td>239.09</td>
          <td>2020-09-28</td>
          <td>23:30:12</td>
          <td>Camilo Mora</td>
          <td>playstation 4</td>
          <td>RPG</td>
         </tr> 
         <tr>
        </tbody> 
      </table>
    </div>
   <h2>Ventas de hoy</h2>  
   <div class="progress" style="height: 20px;">
    <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
  </div>
  <h3>
    juegos vendidos hasta hoy
  </h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" aria-label="Default striped example" style="width: 90%" aria-valuenow="90" aria-valuemin="50" aria-valuemax="100">Outlast(90%)</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-label="Success striped example" style="width: 85%" aria-valuenow="85" aria-valuemin="50" aria-valuemax="100">Grand Theft Auto V(85%)</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Info striped example" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">Devour(70%)</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-label="Warning striped example" style="width: 75%" aria-valuenow="75" aria-valuemin="50" aria-valuemax="100">Silent Hill(75%)</div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-label="Danger striped example" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="60">Pack-Man</div>
  </div>
    



    <a href="../proyecto/paginaprincipal.html" class="btn btn-secondary position-absolute top-0 end-0" role="button">regresar</a>
    

    
   
</body>
</html>